body {
    background: black url("backgrounds/blackgrid.gif") center no-repeat;
    font-family: "arial", sans-serif;
  padding: 50px 50px;
}

h1,h2,p,ul{
  text-align: center;
  color: white;
}

ul{
  list-style-type: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: grey;
}
