body {
    background-color: black;
  background-image: url("backgrounds/blackgrid.gif");
  background-attachment: fixed;
  background-position: center;
    font-family: "arial", sans-serif;
  padding: 50px 50px;
    color: white;
}

h1,h2,p,ul{
  text-align: center;
  color: white;
}

ul{
  list-style-type: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #F8F8FF;
}
