body {
  background-image: url("/blackgrid.gif");
  background-attachment: fixed;
  background-position: center;
    font-family: "arial", sans-serif;
  padding: 50px 50px;
}

h1,h2,p,ul{
  text-align: center;
}

ul{
  list-style-type: none;
}
a:link {
    color: grey;
}
a:visited {
    color: grey;
}
a:hover {
    color: black;
}
