body {
  font-family: "arial", sans-serif;
  background-color: white;
  padding: 50px 50px;


}
h1,h2,p,ul{
  text-align: center;
}
ul{
  list-style-type: none;
}
a:link {
    color: red;
}
a:hover {
    color: grey;
}
