body {
  background-image: url("backgrounds/gridbg.png");
  background-attachment: fixed;
  background-position: center;
  margin: 0;
    display: flex;

    /* This centers sketch. */
    justify-content: center;
    align-items: center;
}


/* attemt to center header gif */

.center {
    position: absolute;
    top: 5px;
    text-align: center;
    left: 600px;
}

/* icons */

a:link {
    color: black;
}
a:visited {
    color: black;
}

