body {
  background-image: url("backgrounds/gridbg.png");
  background-attachment: fixed;
  background-position: center;
  margin: 0;
    display: flex;

    /* centers sketch. */
    justify-content: center;
    align-items: center;
}
