body{
    font-family: "arial", sans-serif;
    padding: 50px 50px;
}

h1{
    text-align: left;
    color: black;
    font-family: "arial", sans-serif;
}

a:link {
    color: black;
}
a:link {
    color: black;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
from {
margin-left: 100%;
width: 300%;
}
to {
margin-left: 0%;
width: 100%;
}
}

body > div.grow
{
    float: left;
    margin: 200px 200px;
    width:200px;
    height:600px;
    background:#F08080;
    color:#fff;
    font-family:arial;
    font-weight:900;
    font-size:3.4em;
    text-align:center;
    line-height:298px;
    transition:all 0.3s ease;

    position: absolute;
left: 100px;
top: 150px;

}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

body > div.shrink
{
    float: right;
    margin:200px 100px;
    width:500px;
    height:200px;
    background:#ADD8E6;
    color:#fff;
    font-family:arial;
    font-weight:900;
    font-size:3.4em;
    text-align:right;
    line-height:298px;
    transition:all 0.3s ease;
    position: absolute;
    right: 100px;
    top: 200px;
}
.shrink:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

body > div.circle
{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 280px;
    width:483px;
    height:298px;
    background:#FFFACD;
    color:#fff;
    font-family:Lato;
    font-weight:900;
    font-size:3.4em;
    text-align:center;
    line-height:298px;
    transition:all 0.3s ease;
}
.circle:hover
{
    border-radius:50%;
}


.box {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 900px;
  background: #ADD8E6;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  color:#fff;
  font-family:arial;
  font-weight:900;
  font-size:3.4em;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
  width: 95px;

}
.box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

body {
  font: 600 14px/24px Arial, Sans-Serif;
  margin: 12px 0;
}
.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #fff;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
