h1{
    text-align: left;
    color: black;
}

a:link {
    color: black;
}
a:link {
    color: black;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
from {
margin-left: 100%;
width: 300%;
}
to {
margin-left: 0%;
width: 100%;
}
}

body > div.grow
{
    margin:200px 300px;
    width:200px;
    height:600px;
    background:#F08080;
    color:#fff;
    font-family:arial;
    font-weight:900;
    font-size:3.4em;
    text-align:center;
    line-height:298px;
    transition:all 0.3s ease;
    
    position: absolute;
    left: 100px;
    top: 150px;
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

body > div.shrink
{
    margin:200px 100px;
    width:500px;
    height:200px;
    background:#ADD8E6;
    color:#fff;
    font-family:arial;
    font-weight:900;
    font-size:3.4em;
    text-align:right;
    line-height:298px;
    transition:all 0.3s ease;
    position: absolute;
    right: 100px;
    top: 150px;
}
.shrink:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

body > div.circle
{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 280px;
    width:483px;
    height:298px;
    background:#FFFACD;
    color:#fff;
    font-family:Lato;
    font-weight:900;
    font-size:3.4em;
    text-align:center;
    line-height:298px;
    transition:all 0.3s ease;
}
.circle:hover
{
    border-radius:50%;
}


