body {
  background-image: url("backgrounds/space.gif");
  background-attachment: fixed;
  background-position: center;
  margin: 0;
    display: flex;

    /* This centers sketch. */
    justify-content: center;
    align-items: center;
}


/* header */

.header {
    position: absolute;
    top: 20px;
   text-align: center;
    left: 20px;

}

/* icons */

a:link {
    color: white;
}
a:visited {
    color: white;
}
